<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>UPdate Publisher</title>
</head>
<body>
<form action="updatepub"  method="post">
<table align="center">
<tr>
 <td>Enter Publisher ID</td>
 <td><input type="text" name="pubid"></td>
</tr>
<tr>
 <td>Enter Publisher Name</td>
 <td><input type="text" name="publishername"></td>
</tr>
<tr>
 <td>Enter Publisher Email</td>
 <td><input type="email" name="emailid"></td>
</tr>
<tr>
 <td>Enter Publisher Address</td>
 <td><input type="text" name="address"></td>
</tr>
<tr>
 <td colspan="2" align="center">
  <input type="submit" value="update"></td>
</tr>
</table>
</form>
</body>
</html>